<table class="body">
	<thead>
		<tr>
			<th class="row-num"></th>
			<th class="date">Date</th>
			<th class="description">Description</th>
			<th class="amount">Amount</th>
			<th class="actions"></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th class="sum"></th>
		<th>&nbsp;</th>
	</tfoot>
</table>
